<p-card header="Operacion cubo">
  <form>
    <div class="wrapper-input">
      <label for="x">Posicion en X:</label>
      <input id="x" name="tamanio" type="number" pInputText [(ngModel)]="cubo.x" placeholder="Posicion en x" />
    </div>

    <div  class="wrapper-input">
      <label for="y">Posicion en Y:</label>
      <input id="y" name="tamanio" type="number" pInputText [(ngModel)]="cubo.y" placeholder="Posicion en y" />
    </div>
    <div class="wrapper-input" >
      <label for="z">Posicion en Z:</label>
      <input id="z" name="tamanio" type="number" pInputText [(ngModel)]="cubo.z" placeholder="Posicion en z" />
    </div>
    <div class="wrapper-input">
      <label for="valor">Nuevo valor:</label>
      <input id="valor" name="tamanio" type="number" pInputText [(ngModel)]="cubo.valor" placeholder="Valor Inicial" />
    </div>

    <button pButton (click)="validarActualizacionCubo()" type="button" label="Actualizar cubo"></button>
  </form>

  <p *ngFor="let error of errores" class="texto-error">{{error}}</p>

  <p *ngFor="let msg of mensajes" class="texto-sucess">{{msg}} </p>
</p-card>