/* You can add global styles to this file, and also import other style files */
.texto-error{
    color: red;
}

.wrapper-input{
    margin: 15px;
}

.wrapper-input label{
    width: 150px;
}

.texto-sucess{
    color: green;
}