<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Cube Summation
  </h1>

</div>
<h2>Acciones: </h2>
<ul>
  <li>
    <h2><a routerLink="/cubo/creacion">Creacion</a></h2>
  </li>
  <li>
    <h2><a routerLink="/cubo/actualizar">Actualizar</a></h2>
  </li>
  <li>
    <h2><a routerLink="/cubo/suma">Obtener suma</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
