<p-card header="Operacion cubo">
  <form>
    <div class="wrapper-input">
      <label for="x1">Posicion en X1:</label>
      <input id="x1" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.x1" placeholder="Posicion en x1" />
    </div>
    <div class="wrapper-input">
      <label for="y1">Posicion en Y1:</label>
      <input id="y1" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.y1" placeholder="Posicion en y1" />
    </div>
    <div class="wrapper-input">
      <label for="z1">Posicion en Z1:</label>
      <input id="z1" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.z1" placeholder="Posicion en z1" />
    </div>
    <div class="wrapper-input">
      <label for="x2">Posicion en X2:</label>
      <input id="x2" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.x2" placeholder="Posicion en x2" />
    </div>
    <div class="wrapper-input">
      <label for="y2">Posicion en Y2:</label>
      <input id="y2" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.y2" placeholder="Posicion en y2" />
    </div>
    <div class="wrapper-input">
      <label for="z2">Posicion en Z2:</label>
      <input id="z2" name="tamanio" type="number" pInputText [(ngModel)]="sumaSubCubo.z2" placeholder="Posicion en z2" />

    </div>


    <button pButton (click)="validarSumaSubCubo()" type="button" label="Actualizar cubo"></button>

  </form>

  <p *ngFor="let error of errores" class="texto-error">{{error}}</p>


  <p *ngFor="let msg of mensajes" class="texto-sucess">{{msg}}</p>

</p-card>