<p-card header="Creacion cubo">
  <form>
    <div class="wrapper-input">
      <label for="tamanio">Tamaño cubo:</label>
      <input id="tamanio" name="tamanio" type="number" pInputText [(ngModel)]="creacionCubo.tamanio" placeholder="Tamaño Cubo"
      />
    </div>
    <div class="wrapper-input">
      <label for="valor">Valor inicial:</label>
      <input id="valor" name="valor" type="number" pInputText [(ngModel)]="creacionCubo.valor" placeholder="Valor Inicial" />
    </div>
    <button [disabled]="loading" pButton (click)="validarCreacionCubo()" type="button" label="Crear cubo"></button>

    <p *ngFor="let error of errores" class="texto-error">{{error}} </p>

    <p *ngFor="let msg of mensajes" class="texto-sucess">{{msg}}</p>

  </form>
</p-card>